* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(8, 147, 147);
    font-size: xx-large;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.main-sec {
    background-color: rgb(1, 67, 67);
    margin: 100px auto;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 24px;
    border-radius: 35px;
    color: rgb(198, 206, 219);
}

#para {
    text-align: center;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
}

.for-display {
    background-color: #169191;
    /* color: white; */
    border-radius: 4px;
    padding: 12px;
    margin: 30px;
}

.btn {
    padding: 10px;
    margin: 10px;
    font-weight: 900;
    font-size: large;
}

.for-btn {
    text-align: center;
}

.btn:hover {
    background-color: rgb(8, 147, 147);
    color: rgb(252, 250, 250);
}