* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(154, 151, 163);
}

.instr {
    font-size: bold;
    font-weight: 900;
    color: black;
}

.main-sec {
    background-color: rgb(68, 88, 88);
    margin: 95px auto;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 24px;
    border-radius: 35px;
    color: rgb(198, 206, 219);
}

form {
    padding: 12px;
    margin: 12px;
}

.f-input {
    padding: 9px;
    width: 48%;
    border-radius: 5px;
}

.left {
    display: flex;
}

.add {
    width: 48%;
    padding: 9px;
}

.f-output {
    /* float: right; */
    text-align: center;
    width: 95%;
    /* display: none; */
}

.f-btn {
    background-color: rgb(8, 147, 101);
    color: white;
    border: #169191;
    box-shadow: inset;
}

.f-btn:hover {
    background-color: rgb(8, 147, 147);
    color: rgb(14, 0, 0);
}

.for-display {
    background-color: #169191;
    /* color: white; */
    visibility: hidden;
    border-radius: 4px;
    padding: 12px;
    margin: 32px 0px 12px 0px;
}

#sorted {
    color: aliceblue;
    font-size: x-large;
}

#submit {
    display: none;
}